{{ partial "header.html" . }}
<style>
    body {
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        font-size: 62.5%;
        font-size: 1.6rem;
    }

    .name {
        margin: 0 0.25rem;
        font: 1.8rem/2.0rem 'Lato';
        font-weight: 500;
        color: #e7e7e7;
        color: #222;
        padding-top: 5rem;
    }

    .avatar {
        margin-top: .5rem;
        margin-bottom: -6rem;
    }

    .self-intro {
        font-size: 1.2rem;
        font-weight: 300;
        color: #c0c0c0;
        color: #222;
        margin: 0.75rem 0;
    }

    .self-intro span {
        background-color: #333;
        border-radius: 50px;
        color: #efefef;
        padding: 0.25rem 1rem;
        font-size: 0.9rem;
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
    }

    nav ul li {
        font-size: 1rem;
        margin: 5px 0;
        font-weight: 300;
        width: 33.3333%;
    }

    nav ul li a {
        color: #c0c0c0;
        color: #222;
    }

    .bg {
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
    }

    .bg::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(
            to bottom right,
            hsl(196, 100%, 45%),
            hsl(150, 100%, 45%)
        );
        z-index: 1;
        animation: fade 12s ease-in-out 0s normal infinite;
    }

    .bg::after {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(
            to bottom right,
            hsl(150, 100%, 45%),
            hsl(196, 100%, 45%)
        );
        z-index: -1;
        animation: fade2 12s ease-in-out 0s alternate infinite;
    }

    @keyframes fade {
        0% {
            opacity: 0.1;
        }
        25% {
            opacity: 1;
        }
        100% {
            opacity: 0.1;
        }
    }

    @keyframes fade2 {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0.1;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes rotate {
        0% {
            transform: rotateX(25deg);
            opacity: 0;
        }
        100% {
            transform: rotateX(0deg);
            opacity: 1;
        }
    }

    section.profile-card .content {
        text-align: center;
        width: 350px;
        margin: 0 auto;
        padding: 1rem 0 0 0;
        border-radius: 7px;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        align-items: center;
        background-color: rgb(172, 255, 227);
        transform-origin: 50% 50%;
        animation: rotate 1.5s;
    }

    section.profile-card .profile-card-text {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: .75rem 0;
        background-color: rgba(255, 255, 255, 0.85);
    }
</style>

<div class="bg"></div>

<section class="profile-card">
    <div class="container">
        <div class="content">
            {{ if .Site.Params.gravatar }}
            <a {{ printf "href=%q" ("/" | relLangURL) | safeHTMLAttr }}><img class="avatar" src="https://gravatar.com/avatar/{{ .Site.Params.gravatar }}?s=125" srcset="https://gravatar.com/avatar/{{ .Site.Params.gravatar }}?s=150 2x, https://gravatar.com/avatar/{{ .Site.Params.gravatar }}?s=225 3x, https://gravatar.com/avatar/{{ .Site.Params.gravatar }}?s=400 4x"></a>
            {{ else if .Site.Params.avatar }}
                {{ $.Scratch.Add "srcset" (slice (printf "%s 1x" (.Site.Params.avatar|absURL))) }}
                {{ $directory := replaceRE "^(.*)/[^/]+$" "$1" .Site.Params.avatar }}
                {{ $basename := replaceRE "^.*/([^./]+).*$" "$1" .Site.Params.avatar }}
                {{ $extension := replaceRE "^.*/[^.]+\\.([^.]+)$" "$1" .Site.Params.avatar }}
                {{ range (readDir (printf "static/%s" $directory)) }}
                    {{ if findRE (printf "^%s-\\d+x\\.%s$" $basename $extension) .Name }}
                        {{ $.Scratch.Add "srcset" (slice (replaceRE (printf "^(%s)-(\\d+x)\\.(%s)$" $basename $extension) (printf "%s/$1-$2.$3 $2" ($directory|absURL)) .Name)) }}
                    {{ end }}
                {{ end }}
                {{ $srcset := delimit ($.Scratch.Get "srcset") "," }}
                <a {{ printf "href=%q" ("/" | relLangURL) | safeHTMLAttr }}><img class="avatar" src="/{{ .Site.Params.avatar }}" {{ printf "srcset=%q" $srcset | safeHTMLAttr }}></a>
            {{ end }}
            <div class="profile-card-text">
                <a href="/"><div class="name">{{ .Site.Params.author }}</div></a>
                {{ if .Site.Params.selfintro }}
                <h3 class="self-intro"><span class="badge">{{ .Site.Params.selfintro }}</span></h3>
                {{ end }}
                <nav>
                    <ul>
                        {{ range .Site.Menus.main }}
                            <li class="nav-{{ .Identifier }}"><a href="{{ .URL | absLangURL }}">{{ .Pre }}<span>{{ .Name | safeHTML }}</span></a></li>
                        {{ end }}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
{{ partial "footer.html" . }}

